.nav-menu {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  color: #6c9dba;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-menu-items {
  width: 100%;
  list-style: none;
}

.fa-user-circle {
  color: black;
  font-size: 70px;
}

.navbar-toggle {
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.navbar-items {
  padding: 10px;
}

.navbar-item {
  padding: 10px 0px;
}

.user-details {
  text-align: center;
  font-family: -webkit-pictograph;
  margin-bottom: 2rem;
  font-size: 25px;
}
