.add-icon-container {
  padding: 10px;
  position: fixed;
  bottom: 1%;
  right: 2%;
}

.fa-plus-circle {
  font-size: 70px;
  color: #406d87;
  border-radius: 50%;
  background-color: #ffffff;
  text-decoration: none;
}
