.header_container_container {
  padding: 0px 2px;
  border-bottom: 2px solid #dbdbdb;
}
.search_bar_container {
  margin-right: auto;
  margin-left: 5%;
}

.header_container {
  display: flex;

  padding: 5px 5px;
}

#search {
  all: unset;
  /* border: 1px solid; */
  border-radius: 20px;
  background-color: #f7f7f7;
  font-family: sans-serif;
  border: 1px solid #dbdbdb;
}

#search::placeholder {
  font-family: sans-serif;
  font-size: 14px;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.fa-user-circle {
  color: black;
}

.logo img {
  height: 50px;
  width: 100%;
}

.auth_text {
  color: black;
  display: inline;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: sans-serif;
  transition: 300ms;
}

.auth_text:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.auth_text_container {
  font-size: 26px;
}
@media (max-width: 500px) {
  .header_container_container {
    padding: 10px 2px;
  }
}

.header-items-container {
  display: flex;
  font-size: 15px;
  font-family: sans-serif;
}

.header-items-container a {
  all: unset;
  cursor: pointer;
  margin-right: 30px;
}
.show {
  display: flex;
}
@media (max-width: 500px) {
  .show {
    display: none;
  }
}

.bookmark-container,
.chats-container {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
}

.bookmark-container:hover,
.chats-container:hover {
  background-color: black;
  color: #fff;
}
.search_bar {
  display: flex;
}
