.header_container_container {
  padding: 0px 2px;
  background-color: var(--blue);
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

#search {
  all: unset;
  border-bottom: 1px solid #ffffff;
  color: #fff;
  padding: 5px;
}

#search::placeholder {
  color: #fff;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.fa-user-circle {
  color: #fff;
}

.logo img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.auth_text {
  display: inline;
  color: #fff;
  padding: 0px 3px;
  font-size: 18px;
  font-family: -webkit-pictograph;
}

.auth_text_container {
  font-size: 26px;
  color: #ffffff;
}
@media (max-width: 500px) {
  .header_container_container {
    padding: 10px 2px;
  }
}
