.navbar_container_container {
  display: none;
  justify-content: space-around;
  /* padding: 5px 0px; */
  background-color: #f7f7f7;
}

.navbar_container {
  padding: 10px;
  border-radius: 10px;
}

/* .navbar_container:hover {
  box-shadow: 1px 1px 5px black;
} */

.navbar_icon {
  font-size: 20px;
  pointer-events: none;
  text-decoration: none;
}

.navbar_container:hover {
  background-color: black;
  color: #fff;
  transition: 300ms;
  cursor: pointer;
}
.navbar_icon:hover {
  color: #fff;
}
