.room_card_container {
  margin: 10px;

  border-radius: 10px;
  box-shadow: 1px 1px 7px #284759;
  width: 20%;
}

.room_image_container {
  width: 100%;

  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.room_image {
  width: 100%;
  object-fit: cover;
}

.room_information_container {
  padding: 10px;
}
.room_features_container {
  font-family: -webkit-pictograph;
  font-size: 15px;
}
.room_address_container {
  text-align: right;
  font-family: -webkit-pictograph;
}
.room_price_container {
  font-family: -webkit-pictograph;
  font-size: 30px;
  padding-bottom: 5px;
}

.clicked {
  background-color: red;
}
.hidden {
  display: none;
}

.room_chat_container {
  text-align: right;
  padding: 8px 0;
  font-size: 30px;
}
.room_favorite_button {
  font-size: 30px;
  padding: 8px 0;
  flex-grow: 1;
}
.room_buttons_conatiner {
  display: flex;
}
.room_ad_poster {
  font-family: -webkit-pictograph;
}
a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .room_card_container {
    width: auto;
  }
}
