.addroom_form_container {
  position: fixed;
  top: 12%;
  left: 1rem;
}

.addroom_input {
  width: 100%;
  height: 20px;
  display: block;
  border: 2px solid #396782;
  border-radius: 7px;
  margin: 10px;
  margin-bottom: 30px;
}

.addroom_label {
  font-size: 17px;
  color: #6c9dba;
  font-weight: bold;
  margin: 10px;
}

#features_input {
  height: 100px;
  line-height: 20px;
}

::placeholder {
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addroom_button_container {
  padding-left: 30%;
  text-align: center;
}
