.signup_message_container {
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

.signup_form_container {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.signup_input {
  width: 30%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 0px;
  margin: 10px;
}

.icon {
  position: absolute;
  font-size: 25px;
  color: var(--blue);
}

.signup_button {
  margin: 10px;
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 18px;
}

.signup_button:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: black;
  color: white;
}

.bottom_text {
  padding-top: 20px;

  font-family: sans-serif;
}

.login_text {
  color: var(--blue);
}

.no_display {
  display: none;
}

.check_icon {
  position: absolute;
  margin-top: 20px;
  margin-left: 305px;
  color: var(--blue);
  font-size: 20px;
}

.check_icon_3 {
  color: green;
  margin-left: 350px;
}

@media (max-width: 500px) {
  .signup_input {
    width: 60%;
  }
}
