.customer-executive {
  font-family: -webkit-pictograph;
  font-size: 18px;
  margin-top: 5rem;
}

.phone-number {
  font-family: -webkit-pictograph;
  font-size: 18px;
}

.email-container {
  font-family: -webkit-pictograph;
  font-size: 18px;
}

.detail-container {
  margin-top: 2rem;
  font-family: -webkit-pictograph;
  font-size: 18px;
}
