.full-room_card_container {
  margin: 10px;

  border-radius: 10px;
  box-shadow: 1px 1px 7px #284759;
}

.full-room_image_container {
  width: 100%;

  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.full-room_image {
  width: 95%;
  object-fit: cover;
  text-align: -webkit-right;
}

.full-room_information_container {
  padding: 10px;
}
.full-room_features_container {
  font-family: -webkit-pictograph;
  font-size: 15px;
}
.full-room_address_container {
  font-family: -webkit-pictograph;
  padding: 5px 0;
}
.full-room_price_container {
  font-family: -webkit-pictograph;
  font-size: 30px;
  padding-bottom: 5px;
}
.full-room_chat_container {
  padding: 10px 0;
  font-size: 30px;
  margin-left: 10%;
}
.full-room_favorite_button {
  font-size: 30px;
  padding: 8px 0;
}
.full-room_buttons_conatiner {
  display: flex;
}
.full-room_ad_poster {
  font-family: -webkit-pictograph;
}

.full-room_details {
  font-family: -webkit-pictograph;
}
.full-room_feature_button {
  display: flex;
}

.full-room_price {
  font-size: 35px;
  display: flex;
  font-family: -webkit-pictograph;
}

.full-room_total_details {
  margin-top: 5px;
}
.full-room_rupee_icon {
  font-size: 50px;
}
