.login_form_container {
  position: absolute;
  left: 23%;
  top: 40%;
  width: auto;
  transform: translate(80%, 0%);
  text-align: center;
  font-family: sans-serif;
}

.message_container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  font-weight: bolder;
}

.email_input,
.password_input {
  width: 80%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 20px;
  color: black;
}

.icon {
  position: absolute;
  font-size: 25px;
  padding-top: 18px;
  padding-left: 25px;
  color: black;
}

.login_button {
  margin: 10px;
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 18px;
  transition: 300ms;
}

.login_button:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: black;
  color: white;
}

.bottom_text_1 {
  padding-top: 40px;
}

.bottom_text_2 {
  padding-top: 20px;
}

.click_here_text {
  color: var(--blue);
}

.red_border {
  border: 1px solid red;
}

@media (max-width: 800px) {
  .login_form_container {
    transform: translate(10%, -10%);
  }
}
@media (max-width: 400px) {
  .login_form_container {
    transform: translate(-15%, -10%);
  }
}
